/* GeneralSettings *******************************************************/
body {
    background-color: #04080F;
    color: #DAE3E5;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
}
#overall_container {
    display: flex;
    flex-direction: column;
}
#displayControls, #timers_container {
    width: 100%;
}
h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}


/* DisplayControls *******************************************************/
#displayControls {
    width: 100%;
}
#showCountdownButton, #showToDoButton {
    float: left;
}
#showStudyCountdown, #studyCountdownDiv {
    float: right;
}

/* CountdownBreakPrompt ***************************************************/
#countdownDiv, #studyCountdownDiv, #toDo {
    display: none;
}
#breakPrompt {
    margin: 5px;
    font-size: 3rem;
}
#countdownControls {
    margin-top: 10px;
    margin-bottom: 10px;
}
#breakPromptStart, #breakPromptPause, #breakPromptReset {
    font-size: 1rem;
}
#breakPromptStart {
    background-color: #507DBC;
}
#breakPromptPause {
    background-color: #ec4c4c;
}
#breakPromptReset {
    background-color: #50bc5e;
}

/* ToDo ********************************************************************/
#addToDo {
    cursor: pointer;
}
.close {
    padding: 12px 16px 12px 16px;
}

/* StudyTimer */
#study {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}
#sTimers {
    display: flex;
    width: 65%;
    z-index: 3;
}
#study_total, #study_current {
    padding: 10px 25px;
    width: 50%;
    background-color: #507DBC;
}
#study_total {
    border-right: 0.5px solid black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#study_current {
    border-right: 1px solid black
}
#study_total p, #study_current p{
    display: inline;
    font-size: 3rem;
}
#sButtons {
    display: flex;
    width: 35%;
    font-size: 1.5rem;
    align-items: center;
    background-color: #507DBC;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 3;
}
#sButtons img {
    padding: 10px;
    cursor: pointer;
}
#study_play, #study_pause, #study_reset {
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, 1);
    border-radius: 0px;
    max-height: 15px;
    width: auto;
}
#sPMButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    left: 88%;
}
#s_plus_one, #s_minus_one {
    cursor: pointer;
    padding: 10px 5px 10px 40px;
    background-color: #29528b;
    border-radius: 10px;
    pointer-events: auto;
    height: 16px;
}
#s_plus_one {
    border-bottom: 0.75px solid rgba(0, 0, 0, 1);
}
#s_minus_one {
    border-top: 0.75px solid rgba(0, 0, 0, 1);
}

/* ProcrastinationTimer */
#procrastination {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}
#pTimers {
    display: flex;
    width: 65%;
    z-index: 3;
}
#procrastination_total, #procrastination_current {
    padding: 10px 25px;
    width: 50%;
    background-color: #ec4c4c;
}
#procrastination_total {
    border-right: 0.5px solid black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#procrastination_current {
    border-right: 1px solid black
}
#procrastination_total p, #procrastination_current p{
    display: inline;
    font-size: 3rem;
}
#pButtons {
    display: flex;
    width: 35%;
    font-size: 1.5rem;
    align-items: center;
    background-color: #ec4c4c;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 3;
}
#pButtons img {
    padding: 10px;
    cursor: pointer;
}
#procrastination_play, #procrastination_pause, #procrastination_reset {
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, 1);
    border-radius: 0px;
    max-height: 15px;
    width: auto;
}
#pPMButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    left: 88%;
}
#p_plus_one, #p_minus_one {
    cursor: pointer;
    padding: 10px 5px 10px 40px;
    background-color: #7e2929;
    border-radius: 10px;
    pointer-events: auto;
    height: 16px;
}
#p_plus_one {
    border-bottom: 0.75px solid rgba(0, 0, 0, 1);
}
#p_minus_one {
    border-top: 0.75px solid rgba(0, 0, 0, 1);
}

/* BreakTimer */
#break {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}
#bTimers {
    display: flex;
    width: 65%;
    z-index: 3;
}
#break_total, #break_current {
    padding: 10px 25px;
    width: 50%;
    background-color: #50bc5e;
}
#break_total {
    border-right: 0.5px solid black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#break_current {
    border-right: 1px solid black
}
#break_total p, #break_current p{
    display: inline;
    font-size: 3rem;
}
#bButtons {
    display: flex;
    width: 35%;
    font-size: 1.5rem;
    align-items: center;
    background-color: #50bc5e;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 3;
}
#bButtons img {
    padding: 10px;
    cursor: pointer;
}
#break_play, #break_pause, #break_reset {
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, 1);
    border-radius: 0px;
    max-height: 15px;
    width: auto;
}
#bPMButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    left: 88%;
}
#b_plus_one, #b_minus_one {
    cursor: pointer;
    padding: 10px 5px 10px 40px;
    background-color: #0a802a;
    border-radius: 10px;
    pointer-events: auto;
    height: 16px;
}
#b_plus_one {
    border-bottom: 0.75px solid rgba(0, 0, 0, 1);
}
#b_minus_one {
    border-top: 0.75px solid rgba(0, 0, 0, 1);
}

/* StartButtons */
#start_buttons {
    display: flex;
    justify-content: center;
}
#start_study, #start_procrastination, #start_break {
    padding: 15px;
    margin: 40px 10px;
    font-size: 2rem;
    max-width: 265px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    color: black;
}
#start_study {
    background-color: #507DBC;
}
#start_procrastination {
    background-color: #ec4c4c;
}
#start_break {
    background-color: #50bc5e
}
































/*Small screen adjustments*/
@media screen and (max-width : 1000px) {
    html {
    font-size: 10px;
    }
    h2 {
        margin-top: 8px;
        margin-bottom: 2px;
    }
    #study_play, #study_pause, #study_reset, #procrastination_play, #procrastination_pause, #procrastination_reset, #break_play, #break_pause, #break_reset {
        border-radius: 0px; 
        border: 5px solid rgba(0, 0, 0, 1);
    }
    #study_total, #procrastination_total, #break_total {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    #sButtons, #pButtons, #bButtons {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #sButtons i, #pButtons i, #bButtons i {
        padding: 10px;
    }
    #start_study, #start_procrastination, #start_break {
        padding: 10px;
        margin: 40px 10px;
        height: 25px;
        border-radius: 0px;
    }
    #s_plus_one, #s_minus_one, #p_plus_one, #p_minus_one, #b_plus_one, #b_minus_one {
        padding: 5px 5px 5px 30px;
        border-radius: 0px;
    }
}

@media screen and (max-width : 700px) {
    html {
    font-size: 8px;
    }
    h2 {
        margin-top: 8px;
        margin-bottom: 2px;
    }
    #study_play, #study_pause, #study_reset, #procrastination_play, #procrastination_pause, #procrastination_reset, #break_play, #break_pause, #break_reset {
        border: 4px solid rgba(0, 0, 0, 1);
    }
    #s_plus_one, #s_minus_one, #p_plus_one, #p_minus_one, #b_plus_one, #b_minus_one {
        padding: 3px 5px 3px 30px;
    }
    #s_plus_one, #p_plus_one, #b_plus_one  {
        border-bottom: 1.5px solid rgba(0, 0, 0, 1);
    }
    #s_minus_one, #p_minus_one, #b_minus_one {
        border-top: 1.5px solid rgba(0, 0, 0, 1);
    }
}

@media screen and (max-width : 540px) {
    html {
        font-size: 6px;
    }
    h1 {
        display: none;
    }
    h2 {
        font-size: 2rem;
    }
    #study, #procrastination, #break {
        max-width: 90%;
    }   
    #sButtons i, #pButtons i, #bButtons i {
        padding: 5px;
    }
    #s_plus_one, #s_minus_one, #p_plus_one, #p_minus_one, #b_plus_one, #b_minus_one {
        padding: 2px 5px 1px 35px;
    }
    #s_plus_one, #p_plus_one, #b_plus_one  {
        border-bottom: 2px solid rgba(0, 0, 0, 1);
    }
    #s_minus_one, #p_minus_one, #b_minus_one {
        border-top: 2px solid rgba(0, 0, 0, 1);
    }
    #start_study, #start_procrastination, #start_break {
        padding: 2px;
        margin: 10px 5px;
        height: 20px;
    }
}

@media screen and (max-height : 425px) and (max-width : 540px) {
    html {
        font-size: 6px;
    }
    h1 {
        display: none;
    }
    h2 {
        font-size: 2rem;
    }
    #study, #procrastination, #break {
        max-width: 90%;
    }   
    #sButtons i, #pButtons i, #bButtons i {
        padding: 5px;
    }
    #s_plus_one, #s_minus_one, #p_plus_one, #p_minus_one, #b_plus_one, #b_minus_one {
        padding: 0px 5px 0px 35px;
    }
    #s_plus_one, #p_plus_one, #b_plus_one  {
        border-bottom: 2px solid rgba(0, 0, 0, 1);
    }
    #s_minus_one, #p_minus_one, #b_minus_one {
        border-top: 2px solid rgba(0, 0, 0, 1);
    }
    #start_study, #start_procrastination, #start_break {
        padding: 2px;
        margin: 10px 5px;
        height: 20px;
    }
}