/* GeneralSettings *******************************************************/
body {
    background-color: #04080F;
    color: #DAE3E5;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
}
#overall_container {
    display: flex;
    flex-direction: column;
}
#displayControls, #timers_container {
    width: 100%;
}
h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}


/* DisplayControls *******************************************************/
#displayControls {
    width: 100%;
}
#showCountdownButton, #showToDoButton {
    float: left;
}
#showStudyCountdown, #studyCountdownDiv {
    float: right;
}

/* CountdownBreakPrompt ***************************************************/
#countdownDiv, #studyCountdownDiv, #toDo {
    display: none;
}
#breakPrompt {
    margin: 5px;
    font-size: 3rem;
}
#countdownControls {
    margin-top: 10px;
    margin-bottom: 10px;
}
#breakPromptStart, #breakPromptPause, #breakPromptReset {
    font-size: 1rem;
}
#breakPromptStart {
    background-color: #507DBC;
}
#breakPromptPause {
    background-color: #ec4c4c;
}
#breakPromptReset {
    background-color: #50bc5e;
}

/* ToDo ********************************************************************/
#addToDo {
    cursor: pointer;
}
.close {
    padding: 12px 16px 12px 16px;
}

/* TimerContainers *********************************************************/
.time_and_controls_container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.timer_container {
    display: flex;
    width: 65%;
    z-index: 3;
    
}
.total_timer, .current_timer {
    padding: 10px 25px;
    width: 50%;
}
.total_timer p, .current_timer p {
    display: inline;
    font-size: 3rem;
}
.total_timer {
    border-right: 0.5px solid black;
}
.current_timer {
    border-right: 1px solid black
}
.timer_buttons {
    display: flex;
    width: 35%;
    font-size: 1.5rem;
    align-items: center;
    z-index: 3;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.timer_buttons img {
    padding: 10px;
    cursor: pointer;
}
.timer_button {
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, 1);
    border-radius: 0px;
    max-height: 15px;
    width: auto;
}
.pm_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    left: 88%;
}
.plus_one, .minus_one {
    cursor: pointer;
    padding: 10px 5px 10px 40px;
    border-radius: 10px;
    pointer-events: auto;
    height: 16px;
}
.plus_one {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}
.minus_one {
    border-top: 2px solid rgba(0, 0, 0, 1);
}

/* StudyTimer */
#study {
    background-color: #507DBC;
}
#sButtons {
    background-color: #507DBC;
}
#s_plus_one, #s_minus_one {
    background-color: #29528b;
}



/* ProcrastinationTimer */
#procrastination {
    background-color: #ec4c4c;
}
#pButtons {
    background-color: #ec4c4c;
}
#p_plus_one, #p_minus_one {
    background-color: #7e2929;
}

/* BreakTimer */
#break {
    background-color: #50bc5e;
}
#bButtons {
    background-color: #50bc5e;
}
#b_plus_one, #b_minus_one {
    background-color: #0a802a;
}


/* StartButtons */
#start_buttons {
    display: flex;
    justify-content: center;
}
.start_button {
    padding: 15px;
    margin: 40px 10px;
    font-size: 2rem;
    max-width: 265px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    color: black;
}
#start_study {
    background-color: #507DBC;
}
#start_procrastination {
    background-color: #ec4c4c;
}
#start_break {
    background-color: #50bc5e
}
































/*Small screen adjustments*/
@media screen and (max-width : 1000px) {
    html {
    font-size: 10px;
    }
    h2 {
        margin-top: 8px;
        margin-bottom: 2px;
    }
    .time_and_controls_container {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .timer_buttons {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .timer_button {
        border-radius: 0px; 
        border: 5px solid rgba(0, 0, 0, 1);
    }
    .timer_buttons i {
        padding: 10px;
    }
    .start_button {
        padding: 10px;
        margin: 40px 10px;
        height: 25px;
        border-radius: 0px;
    }
    .plus_one, .minus_one {
        padding: 5px 5px 5px 30px;
        border-radius: 0px;
    }
}

@media screen and (max-width : 700px) {
    html {
    font-size: 8px;
    }
    h2 {
        margin-top: 8px;
        margin-bottom: 2px;
    }
    .timer_button {
        border: 4px solid rgba(0, 0, 0, 1);
    }
    .plus_one, .minus_one {
        padding: 3px 5px 3px 30px;
    }
    .plus_one  {
        border-bottom: 1.5px solid rgba(0, 0, 0, 1);
    }
    .minus_one {
        border-top: 1.5px solid rgba(0, 0, 0, 1);
    }
}

@media screen and (max-width : 540px) {
    html {
        font-size: 6px;
    }
    h1 {
        display: none;
    }
    h2 {
        font-size: 2rem;
    }
    .time_and_controls_container {
        max-width: 90%;
    }   
    .timer_buttons i {
        padding: 5px;
    }
    .plus_one, .minus_one {
        padding: 2px 5px 1px 35px;
    }
    .plus_one  {
        border-bottom: 2px solid rgba(0, 0, 0, 1);
    }
    .minus_one {
        border-top: 2px solid rgba(0, 0, 0, 1);
    }
    .start_button {
        padding: 2px;
        margin: 10px 5px;
        height: 20px;
    }
}

@media screen and (max-height : 425px) and (max-width : 540px) {
    html {
        font-size: 6px;
    }
    h1 {
        display: none;
    }
    h2 {
        font-size: 2rem;
    }
    .time_and_controls_container {
        max-width: 90%;
    }   
    .timer_buttons i {
        padding: 5px;
    }
    .plus_one, .minus_one {
        padding: 0px 5px 0px 35px;
    }
    .plus_one  {
        border-bottom: 2px solid rgba(0, 0, 0, 1);
    }
    .minus_one {
        border-top: 2px solid rgba(0, 0, 0, 1);
    }
    .start_button {
        padding: 2px;
        margin: 10px 5px;
        height: 20px;
    }
}